.contact {
  background-color: var(--color-bg);
}
.contact__container {
  background-color: var(--color-white);
  border-radius: var(--radius-full);
  width: 100%;
  height: 80vh;
  flex-direction: column;
}
.contact__container__image {
  width: 90px;
  height: 90px;
  padding: 1rem;
  display: flex;
  background-color: var(--color-bg);
  border-radius: 50%;
}

.contact__title {
  font-size: 2rem;
  padding: 1rem 0.8rem;
  text-align: center;
}
.contact__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.contact__imput {
  margin-bottom: 1rem;
  border: none;
  background-color: var(--color-bg);
  min-height: 40px;
  border-radius: 8px;
}
.contact__submit {
  background-color: var(--color-black);
  color: var(--color-white);
  align-self: center;
  height: 40px;
  width: 100px;
  cursor: pointer;
}
.contact__textarea {
  margin-bottom: 1rem;
  border: none;
  background-color: var(--color-bg);
  min-height: 80px;
  border-radius: 8px;
}
/* Media Queries  tablet */
@media (min-width: 768px) {
  .contact__container {
    height: 70vh;
  }
  .contact__form {
    width: 40%;
  }
}

/* Media Queries  desktop */

@media (min-width: 1024px) {
  .contact__form {
    width: 30%;
  }
}
