/* Hero */

.hero {
  display: flex;
  width: var(--full);
  height: 65vh;
}
.hero__container {
  flex-direction: column;
  background-color: var(--color-bg);
  height: var(--full);
  border-radius: var(--radius-bottom);
}
.hero__image__container {
  position: relative;
}
.hero__image {
  width: 100px;
  height: 100px;
  border: solid var(--color-white) 2px;
  overflow: hidden;
  border-radius: 50%;
}
.hero__author__container {
  position: absolute;
  top: 20px;
  left: 80px;
  width: 100px;
  height: 25px;
  transform: rotate(-10deg);
}
.hero__info {
  width: 70%;
  flex-direction: column;
  text-align: center;
  gap: 1.3rem;
}
.hero__info h1 {
  font-size: 1.5rem;
}
.hero__button {
  background-color: var(--color-black);
  border-radius: 30px;
  font-size: 0.5rem;
  width: 110px;
  height: 40px;
  color: var(--color-white);
}

/* Media Queries  tablet */
@media (min-width: 768px) {
  .hero__info h1 {
    font-size: 2.8rem;
  }
}

/* Media Queries  desktop */

@media (min-width: 1024px) {
  .hero__info h1 {
    width: 60%;
  }
}
