.navbar {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-bg);
  border-radius: var(--radius-top);
}
.navbar__container {
  margin: 0 1rem;
  display: flex;
  width: var(--full);
  height: var(--full);
}
.navbar__contact {
  display: flex;
  flex: 1;
  gap: 1rem;
  align-items: center;
}
.navbar__contact a {
  font-size: 0.7rem;
  margin-left: 1.2rem;
}
.button--primary button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}
.navbar__links {
  display: flex;
  gap: 0.8rem;
  list-style: none;
  justify-content: end;
  align-items: center;
  flex: 1;
}
.navbar__links span{
font-weight: bold;
color: var(--color-black);
}
.navbar__link {
  display: none;
}
.navbar__links-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar__hamburger {
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Media Queries  tablet */
@media (min-width: 768px) {
  /* Navbar */

  .navbar {
    height: 100px;
  }
  .navbar__container {
    margin: 0 1rem;
  }

  .navbar__contact a {
    font-size: 1rem;
    margin-left: 3rem;
  }
  .button--primary {
    padding: 0.5rem 1.2rem;
    font-size: 0.8rem;
  }
  .navbar__hamburger {
    font-size: 2rem;
    margin-right: 1.5rem;
  }
}

/* Media Queries  desktop */

@media (min-width: 1024px) {
  /* Navbar */
  .navbar__link {
    display: flex;
    margin: 0 1rem;
  }
  .navbar__hamburger {
    display: none;
  }
  .navbar__container {
    margin: 0 5rem;
  }
}
