.services {
  display: flex;
  width: var(--full);
}
.services__container {
  background-color: var(--color-bg);
  padding: 1.5rem;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: var(--full);
}
.services__header {
  position: relative;
  flex-direction: column;
  width: 70%;
  margin: 1rem auto;
  height: 50px;
}
.services__line {
  background-color: var(--color-black);
  width: var(--full);
  height: 1px;
}
.services__button {
  position: absolute;
  transform: rotate(-10deg);
}
.services__list {
  padding-bottom: 3rem;
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template: 4fr / repeat(1, 1fr);
  overflow: hidden;
  gap: 3rem;
}
.services__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: var(--full);
  height: var(--full);
}
.services__title {
  font-size: 1rem;
}
.services__description {
  font-size: 0.8rem;
}
.services__image {
  width: 40px;
  height: 40px;
}

/* Media Queries  tablet */
@media (min-width: 768px) {
  .features__title {
    width: 60%;
    font-size: 1.5rem;
  }
}

/* Media Queries  desktop */

@media (min-width: 1024px) {
  .features__title {
    width: 50%;
    font-size: 2rem;
  }
  .services__list {
    grid-template: 1fr / repeat(4, 1fr);
  }
}
